<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Jihočeský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ31</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ31</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Jihomoravský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ64</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ64</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Karlovarský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ41</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ41</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Královéhradecký kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ52</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ52</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Liberecký kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ51</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ51</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Moravskoslezský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ80</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ80</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Olomoucký kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ71</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ71</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Pardubický kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ53</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ53</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Plzeňský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ32</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ32</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Praha, hlavní město</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ10</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ10</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Středočeský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ20</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ20</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Ústecký kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ42</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ42</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Vysočina</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ63</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ63</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Zlínský kraj</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>CZ72</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>CZ72</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>