<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Buckinghamshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBKM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBKM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cambridgeshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCAM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCAM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cumbria</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCMA</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCMA</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Derbyshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDBY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDBY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Devon</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDEV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDEV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Dorset</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>East Sussex</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBESX</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBESX</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Essex</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBESS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBESS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Gloucestershire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBGLS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBGLS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hampshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHAM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHAM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hertfordshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHRT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHRT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Kent</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKEN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKEN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Lancashire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLAN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLAN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Leicestershire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLEC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLEC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Lincolnshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLIN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLIN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Norfolk</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNFK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNFK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>North Yorkshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNYK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNYK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Northamptonshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNTH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNTH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Nottinghamshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNTT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNTT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Oxfordshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBOXF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBOXF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Somerset</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSOM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSOM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Staffordshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Suffolk</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSFK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSFK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Surrey</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSRY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSRY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Warwickshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWAR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWAR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>West Sussex</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWSX</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWSX</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Worcestershire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>London, City of</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLND</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLND</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Barking and Dagenham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBDG</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBDG</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Barnet</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBNE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBNE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bexley</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBEX</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBEX</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Brent</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBEN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBEN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bromley</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBRY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBRY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Camden</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCMD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCMD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Croydon</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCRY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCRY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Ealing</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBEAL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBEAL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Enfield</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBENF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBENF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Greenwich</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBGRE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBGRE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hackney</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHCK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHCK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hammersmith and Fulham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHMF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHMF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Haringey</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHRY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHRY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Harrow</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHRW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHRW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Havering</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHAV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHAV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hillingdon</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHIL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHIL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hounslow</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHNS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHNS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Islington</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBISL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBISL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Kensington and Chelsea</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKEC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKEC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Kingston upon Thames</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKTT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKTT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Lambeth</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLBH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLBH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Lewisham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLEW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLEW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Merton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMRT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMRT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Newham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNWM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNWM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Redbridge</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRDB</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRDB</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Richmond upon Thames</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRIC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRIC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Southwark</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSWK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSWK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sutton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Tower Hamlets</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTWH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTWH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Waltham Forest</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWFT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWFT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wandsworth</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWND</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWND</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Westminster</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWSM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWSM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Barnsley</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBNS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBNS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Birmingham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBIR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBIR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bolton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBOL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBOL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bradford</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBRD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBRD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bury</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBUR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBUR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Calderdale</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCLD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCLD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Coventry</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCOV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCOV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Doncaster</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDNC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDNC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Dudley</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDUD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDUD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Gateshead</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBGAT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBGAT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Kirklees</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKIR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKIR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Knowsley</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKWL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKWL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Leeds</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLDS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLDS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Liverpool</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLIV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLIV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Manchester</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMAN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMAN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Newcastle upon Tyne</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNET</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNET</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>North Tyneside</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNTY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNTY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Oldham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBOLD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBOLD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Rochdale</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRCH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRCH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Rotherham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBROT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBROT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>St. Helens</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSHN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSHN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Salford</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSLF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSLF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sandwell</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSAW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSAW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sefton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSFT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSFT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sheffield</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSHF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSHF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Solihull</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSOL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSOL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>South Tyneside</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Stockport</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSKP</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSKP</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sunderland</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSND</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSND</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Tameside</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTAM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTAM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Trafford</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTRF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTRF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wakefield</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWKF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWKF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Walsall</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWLL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWLL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wigan</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWGN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWGN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wirral</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWRL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWRL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wolverhampton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWLV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWLV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bath and North East Somerset</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBAS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBAS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bedford</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBDF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBDF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Blackburn with Darwen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBBD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBBD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Blackpool</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBPL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBPL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bournemouth</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBMH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBMH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bracknell Forest</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBRC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBRC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Brighton and Hove</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBNH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBNH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bristol, City of</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBST</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBST</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Central Bedfordshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCBF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCBF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cheshire East</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCHE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCHE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cheshire West and Chester</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCHW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCHW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cornwall</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCON</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCON</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Darlington</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDAL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDAL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Derby</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDER</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDER</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Durham, County</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDUR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDUR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>East Riding of Yorkshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBERY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBERY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Halton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHAL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHAL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hartlepool</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHPL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHPL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Herefordshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBHEF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBHEF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Isle of Wight</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBIOW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBIOW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Isles of Scilly</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBIOS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBIOS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Kingston upon Hull</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBKHL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBKHL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Leicester</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLCE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLCE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Luton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBLUT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBLUT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Medway</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMDW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMDW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Middlesbrough</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMDB</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMDB</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Milton Keynes</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMIK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMIK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>North East Lincolnshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNEL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNEL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>North Lincolnshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNLN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNLN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>North Somerset</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNSM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNSM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Northumberland</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNBL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNBL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Nottingham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNGM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNGM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Peterborough</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPTE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPTE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Plymouth</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPLY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPLY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Poole</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPOL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPOL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Portsmouth</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Reading</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRDG</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRDG</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Redcar and Cleveland</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRCC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRCC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Rutland</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRUT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRUT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Shropshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSHR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSHR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Slough</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSLG</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSLG</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>South Gloucestershire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSGC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSGC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Southampton</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Southend-on-Sea</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSOS</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSOS</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Stockton-on-Tees</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Stoke-on-Trent</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSTE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSTE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Swindon</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSWD</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSWD</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Telford and Wrekin</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTFW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTFW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Thurrock</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTHR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTHR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Torbay</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTOB</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTOB</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Warrington</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWRT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWRT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>West Berkshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWBK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWBK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wiltshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWIL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWIL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Windsor and Maidenhead</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWNM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWNM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wokingham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWOK</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWOK</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>York</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBYOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBYOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>