<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Auvergne-Rhône-Alpes</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRARA</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRARA</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bourgogne-Franche-Comté</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRBFC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRBFC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bretagne</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRBRE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRBRE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Centre-Val de Loire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRCVL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRCVL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Corse</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRCOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRCOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Grand Est</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRGES</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRGES</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hauts-de-France</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRHDF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRHDF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Île-de-France</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRIDF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRIDF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Normandie</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRNOR</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRNOR</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Nouvelle-Aquitaine</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRNAQ</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRNAQ</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Occitanie</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FROCC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FROCC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Pays de la Loire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRPDL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRPDL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Provence-Alpes-Côte d'Azur</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>FRPAC</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>FRPAC</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>