<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Baden-Württemberg</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEBW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEBW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bayern</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEBY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEBY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Berlin</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEBE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEBE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Brandenburg</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEBB</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEBB</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bremen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEHB</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEHB</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hamburg</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEHH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEHH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Hessen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEHE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEHE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Mecklenburg-Vorpommern</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEMV</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEMV</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Niedersachsen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DENI</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DENI</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Nordrhein-Westfalen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DENW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DENW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Rheinland-Pfalz</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DERP</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DERP</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Saarland</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DESL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DESL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sachsen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DESN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DESN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Sachsen-Anhalt</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DEST</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DEST</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Schleswig-Holstein</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DESH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DESH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Thüringen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>DETH</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>DETH</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>