<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Budapest</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBU</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBU</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Bács-Kiskun</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBK</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBK</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Baranya</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBA</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBA</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Békés</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Borsod-Abaúj-Zemplén</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBZ</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBZ</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Csongrád</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUCS</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUCS</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Fejér</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUFE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUFE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Győr-Moson-Sopron</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUGS</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUGS</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Hajdú-Bihar</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUHB</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUHB</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Heves</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUHE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUHE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Jász-Nagykun-Szolnok</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUJN</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUJN</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Komárom-Esztergom</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUKE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUKE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Nógrád</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUNO</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUNO</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Pest</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUPE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUPE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Somogy</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSO</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSO</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Szabolcs-Szatmár-Bereg</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSZ</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSZ</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Tolna</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUTO</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUTO</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Vas</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUVA</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUVA</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Veszprém</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUVE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUVE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Zala</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUZA</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUZA</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Békéscsaba</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUBC</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUBC</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Debrecen</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUDE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUDE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Dunaújváros</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUDU</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUDU</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Eger</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUEG</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUEG</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Érd</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUER</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUER</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Győr</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUGY</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUGY</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Hódmezővásárhely</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUHV</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUHV</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Kaposvár</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUKV</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUKV</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Kecskemét</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUKM</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUKM</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Miskolc</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUMI</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUMI</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Nagykanizsa</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUNK</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUNK</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Nyíregyháza</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUNY</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUNY</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Pécs</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUPS</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUPS</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Salgótarján</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUST</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUST</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Sopron</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSN</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSN</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Szeged</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSD</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSD</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Székesfehérvár</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSF</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSF</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Szekszárd</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSS</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSS</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Szolnok</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSK</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSK</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Szombathely</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUSH</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUSH</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Tatabánya</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUTB</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUTB</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Veszprém</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUVM</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUVM</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>
<tr>
        <td>clickAndWait</td>
        <td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
        <td></td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
        <td>Zalaegerszeg</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
        <td>HUZE</td>
</tr>
<tr>
        <td>type</td>
        <td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
        <td>HUZE</td>
</tr><tr>
        <td>clickAndWait</td>
        <td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
        <td></td>
</tr>					