"<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Blaenau Gwent</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBGW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBGW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Bridgend</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBBGE</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBBGE</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Caerphilly </td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCAY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCAY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Cardiff</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCRF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCRF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Carmarthenshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCMN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCMN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Ceredigion</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCGN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCGN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Conwy</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBCWY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBCWY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Denbighshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBDEN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBDEN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Flintshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBFLN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBFLN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Gwynedd</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBGWN</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBGWN</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Isle of Anglesey</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBAGY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBAGY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Merthyr Tydfil</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMTY</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMTY</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Monmouthshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBMON</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBMON</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Neath Port Talbot</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNTL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNTL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Newport</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBNWP</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBNWP</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Pembrokeshire</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPEM</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPEM</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Powys</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBPOW</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBPOW</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Rhondda, Cynon, Taff</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBRCT</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBRCT</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Swansea</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBSWA</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBSWA</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Torfaen</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBTOF</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBTOF</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Vale of Glamorgan</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBVGL</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBVGL</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurecountry:form:stateRelatedListComponent:configStateCountryRelList:list:j_id50:buttonAddNew</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:nameSectionItem:editName</td>
	<td>Wrexham</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:intValSectionItem:editIntVal</td>
	<td>GBWRX</td>
</tr>
<tr>
	<td>type</td>
	<td>id=configurenew:j_id1:blockNew:j_id9:codeSectionItem:editIsoCode</td>
	<td>GBWRX</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=configurenew:j_id1:blockNew:j_id43:addButton</td>
	<td></td>
</tr>
"